@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    overflow-y: scroll;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}